
<div class="form-container">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmitEmployee()" *ngIf="!!employeeObj">
        <div class="employeeInfo">
            <div class="personalInfo">
                <div class="item">
                    <label>First Name: <span *ngIf="getControl('firstName')?.errors?.['required']" style="color:red">is required</span></label>
                    <input type="text" formControlName="firstName" />
                    <!-- <div *ngIf="getControl('firstName')?.invalid && getControl('firstName')?.touched"></div> -->
                </div>
            
                <div class="item">
                    <label>Last Name: <span *ngIf="getControl('lastName')?.errors?.['required']" style="color:red">is required</span></label> 
                    <input type="text" formControlName="lastName" />
                </div>
            
            
                <div class="item">
                    <label>Date Of Birth: 
                        <span *ngIf="getControl('dateOfBirth')?.errors?.['required']" style="color:red">is required</span>
                    </label>
                    <input type="text" formControlName="dateOfBirth" />
                </div>
            

                <div class="item" >
                    <label>Attributes: <span *ngIf="getControl('attributeID')?.errors?.['required']" style="color:red">are required</span></label>
                    <div class="atrHolder d-flex flex-wrap">
                        <div class="atrItem"*ngFor="let attr of attributeOptions">
                            <label>
                              <input class="checkbox"
                                type="checkbox"
                                [value]="attr.id"
                                (change)="onCheckboxChange($event)"
                                [checked]="employeeForm.get('attributeID')?.value.includes(attr.id)"
                              />
                              {{ attr.name }}
                            </label>
                          </div>
                    </div>
                  </div>

                
                <div class="vehicle">
                    <label>Owns Vehicle:</label>
                    <input class="checkbox" type="checkbox" formControlName="ownsVehicle" />
                </div>
        
            </div>
            <div class="addressInfo" formGroupName="homeAddress">
                <div class="item">
                <!-- street info -->
                    <label>Street : 
                        <span *ngIf="getControl('homeAddress.street')?.errors?.['required']" style="color:red">is required</span>
                    </label>
                    <input type="text" formControlName="street" />
                </div>
    
                <div class="item">
                    <!-- city info -->
                    <label>City : 
                        <span *ngIf="getControl('homeAddress.city')?.errors?.['required']" style="color:red">is required</span>
                    </label>
                    <input type="text" formControlName="city" />
                </div>
    
                <div class="item">
                    <!-- country info -->
                    <label>Country : 
                        <span *ngIf="getControl('homeAddress.country')?.errors?.['required']" style="color:red">is required</span>
                    </label>
                    <input type="text" formControlName="country" />
                </div>
                <div class="coordinates" formGroupName="coordinates">
                    <div class="item">
                        <!-- lat info -->
                        <label>Enter lat : 
                            <span *ngIf="getControl('homeAddress.coordinates.lat')?.errors?.['required']" style="color:red">is required</span>
                        </label>
                        <input type="number" formControlName="lat" />
                    </div>
                    <div class="item">
                        <!-- long info -->
                        <label>Enter long : 
                            <span *ngIf="getControl('homeAddress.coordinates.lng')?.errors?.['required']" style="color:red">is required</span>
                        </label>
                        <input type="number" formControlName="lng" />
                    </div>  
                </div>

            </div>
        </div>

        <button type="submit" [disabled]="employeeForm.invalid" [ngStyle]="{'background-color': employeeForm.invalid ? '#ff000063' : '#35cb35'}">Submit</button>
    </form>

    <form [formGroup]="attributeForm" (ngSubmit)="onSubmitAttribute()" *ngIf="!!attrObj">
        
        <div class="item">
            <label>Attribute: <span *ngIf="getAttributeControl('name')?.errors?.['required']" style="color:red">is required</span></label> 
            <input type="text" formControlName="name" />
        </div>
        <button type="submit" [disabled]="attributeForm.invalid" [ngStyle]="{'background-color': attributeForm.invalid ? '#ff000063' : '#35cb35'}">Submit</button>
    </form>
</div>

